{
  "image_configuration": {
    "dither_algorithm": "2",
    "alpha_dither": "yes",
    "layout_rotation": "0",
    "opaque_image_format": "RGB565",
    "nonopaque_image_format": "ARGB8888",
    "l8_compression": "no",
    "rgb_compression": "no",
    "section": "ExtFlashSection",
    "extra_section": "ExtFlashSection",
    "images": {
      "Default\\cloud5_2.png": {
        "format": "ARGB8888",
        "alpha_dither": "yes"
      },
      "Default\\cloud5.png": {
        "format": "ARGB8888",
        "alpha_dither": "yes"
      },
      "Climate\\climate_wheel_bg.png": {
        "format": "ARGB8888"
      },
      "Security\\black_body.png": {
        "format": "ARGB8888"
      }
    }
  },
  "text_configuration": {
    "cache_size": 4096,
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "32",
    "font_format": "0",
    "copy_translations_to_ram": "no"
  }
}